*.log

*.pot

*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/*
*/migrations/*
.env
.coverage
.vscode/*

mentorshipEnv/
venv/
**/migrations/
**/**/migrations
BUList.txt
EmpLevels.txt
*/__pycache__/
